@theme-color:#ff6600;
@theme-color-2:#424f6b;
@main-border-color:lighten(@theme-color-2,30%);
@box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
.no-select() {
  user-select: none;//文字不可选
  -webkit-user-select:none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.box-shadow(){
  box-shadow: @box-shadow;
}
html,body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
network {
  background-color: aliceblue;
  border: 1px solid #dddddd;
  overflow: hidden;
  height: 100%;
  display: flex;
}

[dropdown]{
  position: relative;
  &[dropdown='select']{
    width: 3cm;
    height: 8mm;
    display: flex;
    border: 1px solid @main-border-color;
    align-items: center;
    padding: 0 2mm;
    &:hover{
      box-shadow: @box-shadow inset;
    }
    &:after{
      content: ">";
      right: 0;
      position: absolute;
      line-height: 8mm;
      transform: rotate(90deg);
      width: 8mm;
      text-align: center;
    }
  }
  &[dropdown='menu']{

  }
  &.active{
    &>dropdown-menu,+dropdown-menu{
      display: flex;
    }
  }
  &>dropdown-menu,+dropdown-menu{
    display: none;
    border-radius: 0 0 5px 5px;
    z-index: 10;
    top: 100%;
    label{
      cursor: pointer;
    }
  }
}
menu-item{
  display: flex;
  label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 5px;
    .no-select();
    >span{
      position: relative;
      display: flex;
      height: 100%;
      align-items: center;
      pointer-events: none;
      &:before{
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        height: 100%;
        color: transparent;
      }
    }
    input{
      display: none;
      +span:before{
        color: transparent;
      }
      &[type='radio']{
        +span:before{
          content: "●";
        }
        &:checked+span:before{
          color: inherit;
        }
      }
      &[type='checkbox']{
        +span:before{
          content: "✔";
        }
        &:checked+span:before{
          color: inherit;
        }
      }
    }
  }
  &.active{
    background-color: @theme-color-2;
    color: white;
  }
}
context-menu,dropdown-menu {
  position: absolute;
  display: flex;
  divider {
    height: 1px;
    margin: 4px 11px;
    background-color: rgba(0,0,0,0.40);
  }
  &,sub-menu {
    flex-direction: column;
    padding: 5px 0;
    border-radius: 5px;
    background-color: white;
    color: black;
    .box-shadow;
    &>menu-item {
      min-width: 106px;
      &:hover {
        background-color: @theme-color-2;
        color: @theme-color;
        sub-menu {
          display: flex;
        }
      }
      label>span{
        padding-left: 16px;
      }
    }
  }
  sub-menu {
    display: none;
    position: absolute;
    &[direction='right']{
      left: 100%;
    }
    &[direction='left']{
      right: 100%;
    }
  }
  menu-item {
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    &[direction='reverse']{
      flex-direction: column-reverse;
      &>sub-menu {
        margin-bottom: -5px;
      }
    }
    &[direction='normal']{
      &>sub-menu{
        margin-top: -5px;
      }
    }
    label{
      padding: 0 11px;
      &:after {
        content: attr(af);
        position: relative;
        right: 0;
        width: 100%;
        text-align: right;
        padding-left: 22px;
      }
    }
  }
}
